In [8]:
import pandas as pd
import pandas_ta as ta
import yfinance

In [9]:
ticker = yfinance.Ticker("RELIANCE.NS")
df = ticker.history(period="1y")
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-04-29,2016.413356,2037.944068,2000.863403,2017.559692,8035915,0.0,0
2021-04-30,2002.059477,2029.471295,1981.176705,1988.104370,9150974,0.0,0
2021-05-03,1959.695854,1972.654168,1936.869260,1952.768188,10909942,0.0,0
2021-05-04,1943.747148,1961.490119,1904.872205,1910.454224,10083693,0.0,0
2021-05-05,1917.182572,1932.284016,1901.931706,1913.942993,5719649,0.0,0
...,...,...,...,...,...,...,...
2022-04-25,2742.399902,2758.399902,2663.649902,2695.000000,7874671,0.0,0
2022-04-26,2710.000000,2795.000000,2707.699951,2775.649902,5643066,0.0,0
2022-04-27,2755.850098,2828.000000,2755.050049,2778.350098,8924920,0.0,0
2022-04-28,2809.949951,2851.000000,2786.100098,2819.850098,11820892,0.0,0
2022-04-29,2856.149902,2856.149902,2777.300049,2790.250000,8406156,0.0,0

In [10]:
adx=df.ta.adx()
rsi=df.ta.rsi()
macd=df.ta.macd()
df=pd.concat([df,adx,rsi,macd],axis=1)
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,ADX_14,DMP_14,DMN_14,RSI_14,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9
Date,,,,,,,,,,,,,,
2021-04-29,2016.413356,2037.944068,2000.863403,2017.559692,8035915,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-04-30,2002.059477,2029.471295,1981.176705,1988.104370,9150974,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-05-03,1959.695854,1972.654168,1936.869260,1952.768188,10909942,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-05-04,1943.747148,1961.490119,1904.872205,1910.454224,10083693,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-05-05,1917.182572,1932.284016,1901.931706,1913.942993,5719649,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-25,2742.399902,2758.399902,2663.649902,2695.000000,7874671,0.0,0,26.034576,35.102175,21.798687,59.506226,60.311392,6.544183,53.767209
2022-04-26,2710.000000,2795.000000,2707.699951,2775.649902,5643066,0.0,0,26.237759,35.262912,19.459540,64.985057,64.996168,8.983167,56.013001
2022-04-27,2755.850098,2828.000000,2755.050049,2778.350098,8924920,0.0,0,26.757386,36.038333,17.946609,65.155044,68.141281,9.702624,58.438657
2022-04-28,2809.949951,2851.000000,2786.100098,2819.850098,11820892,0.0,0,27.461298,35.701249,16.565330,67.746681,73.139402,11.760596,61.378806
2022-04-29,2856.149902,2856.149902,2777.300049,2790.250000,8406156,0.0,0,27.931019,32.754641,16.119243,64.085480,73.860551,9.985396,63.875155

In [11]:
#Fetching the last row of the df table
last_row=df.iloc[-1]
last_row

Open             2.856150e+03
High             2.856150e+03
Low              2.777300e+03
Close            2.790250e+03
Volume           8.406156e+06
Dividends        0.000000e+00
Stock Splits     0.000000e+00
ADX_14           2.793102e+01
DMP_14           3.275464e+01
DMN_14           1.611924e+01
RSI_14           6.408548e+01
MACD_12_26_9     7.386055e+01
MACDh_12_26_9    9.985396e+00
MACDs_12_26_9    6.387516e+01
Name: 2022-04-29 00:00:00, dtype: float64

In [18]:
## Check the trend by conditions on adx
if last_row['ADX_14'] >= 25:
    msg = f"Strong trend : The adx is {last_row['ADX_14']:.2f}"
    print(msg)
if last_row['ADX_14'] < 25:
    msg = f"No trend : The adx is{last_row['ADX_14']}"
    print(msg)

Strong trend : The adx is 27.93

In [22]:
from IPython.display import Markdown, display
import html

In [27]:
## Check the trend by conditions on adx
if last_row['ADX_14'] >= 25:
    if last_row['DMP_14'] > last_row['DMN_14']:
        msg = display(Markdown(f"<text style=color:green> Strong Uptrend : The adx is  {last_row['ADX_14']:.2f}</text>"))
        print(msg)
    if last_row['DMP_14'] < last_row['DMN_14']:
        msg = display(Markdown(f"<text style=color:red> Strong Downtrend : The adx is {last_row['ADX_14']:.2f}</text>"))
        print(msg)
if last_row['ADX_14'] < 25:
    msg = f"No trend : The adx is{last_row['ADX_14']}"
    print(msg)

<text style=color:green> Strong Uptrend : The adx is  27.93</text>

None

In [48]:
webhook_url = "https://discord.com/api/webhooks/970262509963591731/dlo67rPlslfcW516HAQlhy80YYk7RAaxKyDmV7CLnjaodmA2ebfqxMJy6OmJMdGt8xxd"

In [49]:
import requests,json

payload={
    "username":"stock_alert",
    "content":msg
}
requests.post(webhook_url, json=payload)

In [50]:
if last_row['ADX_14'] >= 25:
    if last_row['DMP_14'] > last_row['DMN_14']:
        msg = display(Markdown(f"<text style=color:green> Strong Uptrend : The adx is  {last_row['ADX_14']:.2f}</text>"))
        print(msg)
        payload={
            "username":"stock_alert",
            "content":msg
        }
        requests.post(webhook_url, data=json.dumps(payload),headers={'Content-Type':'application/json'})
    if last_row['DMP_14'] < last_row['DMN_14']:
        msg = display(Markdown(f"<text style=color:red> Strong Downtrend : The adx is {last_row['ADX_14']:.2f}</text>"))
        print(msg)
        payload={
            "username":"stock_alert",
            "content":msg
        }
        requests.post(webhook_url, data=json.dumps(payload),headers={'Content-Type':'application/json'})
if last_row['ADX_14'] < 25:
    msg = f"No trend : The adx is{last_row['ADX_14']}"
    print(msg)
    
    payload={
    "username":"stock_alert",
    "content":msg
    }
    requests.post(webhook_url, data=json.dumps(payload),headers={'Content-Type':'application/json'})

<text style=color:green> Strong Uptrend : The adx is  27.93</text>

None